{% extends 'cheforces/base.html' %}


{% block body_block %}
<h2>HELLO {{userinfo.handle}}</h2>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Handle</th>
      <td><a href="https://codeforces.com/profile/{{userinfo.handle}}">{{userinfo.handle}}</a></td>
    </tr>
    <tr>
      <th scope="row">Current Rating</th>
      <td>{{userinfo.rating}}</td>
    </tr>
    <tr>
      <th scope="row">Max Rating</th>
      <td>{{userinfo.maxRating}}</td>
    </tr>
    <tr>
      <th scope="row">Current Rank</th>
      <td>{{userinfo.rank}}</td>
    </tr>


  </tbody>
</table>

<div id="rating_distribution""></div>

<table>
    <thead>
        <tr>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div id="verdicts_pie_chart" style="width: 900px; height: 500px;"></div></td>
            <td><div id="tags_pie_chart" style="width: 900px; height: 500px;"></div></td>
        </tr>
    </tbody>
</table>

<script>
         google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{verdicts_data|safe}});

        var options = {
          title: 'verdicts'
        };

        var chart = new google.visualization.PieChart(document.getElementById('verdicts_pie_chart'));

        chart.draw(data, options);
      }
</script>


<script>
       google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{tags_data|safe}});

        var options = {
          title: 'tags'
        };

        var chart = new google.visualization.PieChart(document.getElementById('tags_pie_chart'));

        chart.draw(data, options);
      }
</script>


<script type="text/javascript">
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawRatingChart);

  function drawRatingChart() {
    var data = google.visualization.arrayToDataTable({{ratings_data|safe}});

    var options = {
      chart: {
        title: 'Rating Distribution of Problems',
      }
    };

    var chart = new google.charts.Bar(document.getElementById('rating_distribution'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>



<!--script for pie chart of tags -->

{% endblock %}
<!--</body>-->
<!--</html>-->