{% extends 'cheforces/base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>nothing</title>-->
<!--</head>-->
<!--<body>-->
{% block body_block %}
<h2>HELLO {{userinfo.handle}}</h2>

<!--verdicts pie chart-->
<div id="container" style="width: 50%;">
    <h4>Verdicts</h4>
    <canvas id="verdict_pie_chart"></canvas>

  </div>
<!--script for pie chart for verdict -->
<script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ verdicts_data|safe }},
          backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'

          ],
          label: 'verdicts_data'
        }],
        labels: {{ verdicts_labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('verdict_pie_chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>



<!--bar plot for rating distribution-->
<div id="rating_distribution_container" style="width: 40%">
    <canvas id="rating_distribution"></canvas>
</div>
<!--script for rating_distribution bar plot-->
<script>
    var ctx = document.getElementById('rating_distribution').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ratings_label|safe}},
        datasets: [{
            label: 'Ratings of problems solved',
            data: {{ratings_data|safe}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


<!--script for pie chart of tags -->



{% for key, value in userinfo.items %}
    <tr>
        <td>{{ key }} </td>
        <td>{{ value }} </td>
    </tr>
{% endfor %}
{% endblock %}
<!--</body>-->
<!--</html>-->