{% extends 'cheforces/base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>nothing</title>-->
<!--</head>-->
<!--<body>-->
{% block body_block %}


<div class ="container">
    <form method = "POST" action="{% url 'home' %}">
        {{form.as_table}}
        {% csrf_token %}
        <input type = "submit" class="btn btn-primary" value="Submit" >
    </form>
</div>
<h2>Upcoming Contests</h2>
<table class="table table-hover">
  <tbody>
  <thead>
    <tr>
      <th scope="col">Link</th>
      <th scope="col">Name</th>
        <th scope="col">Date and Time</th>
    </tr>
  </thead>
{% for item in before %}
   <tr>
      <td><a href="https://codeforces.com/contest/{{item.id}}" target="_blank">{{item.id}}</a></td>
       <td>{{item.name}}</td>
       <td>{{item.startTimeSeconds|date:'r'}}</td>
       <td></td>
    </tr>
{% endfor %}

  </tbody>
</table>


<h2>Completed Contests</h2>
<table class="table table-hover">
  <tbody>
  <thead>
    <tr>
      <th scope="col">Link</th>
      <th scope="col">Name</th>
        <th scope="col">Date and Time</th>
    </tr>
  </thead>
{% for item in completed %}
   <tr>
      <td><a href="https://codeforces.com/contest/{{item.id}}" target="_blank">{{item.id}}</a></td>
       <td>{{item.name}}</td>
       <td>{{item.startTimeSeconds|date:'r'}}</td>
       <td></td>
    </tr>
{% endfor %}

  </tbody>

{% endblock %}

<!--</body>-->
<!--</html>-->